/.metadata/
/mysqlDB/
/.idea/
/Debug/
/*/test2/
*.gitignore
java_work/ex240202/pom.xml
java_work/ex240202/.idea/encodings.xml
java_work/ex240202/.idea/misc.xml
java_work/ex240202/.idea/vcs.xml
java_work/ex240202/src/main/java/org/example/Main.java
java_work/ex240202/src/main/java/org/example/Main2.java
java_work/ex240205/pom.xml
java_work/ex240205/.idea/encodings.xml
java_work/ex240205/.idea/misc.xml
java_work/ex240205/.idea/vcs.xml
java_work/ex240205/src/main/java/org/example/Ex05.java
java_work/ex240205/src/main/java/org/example/Main.java
