.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F27BBD;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer{
  min-height: 20vh;
  color: #874CCC;
}

.App-footer a{
  text-decoration: none;
  color: #F27BBD;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  border: dotted;
  border-width: 10px 4px;
  border-radius: 10px 40px;
}

